
    <br>
    <br>
<div class="center">

<table>
    <tr>
        <td>First Name:</td>
        <td>{{userObjNames.fname}}</td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td>{{userObjNames.lname}}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{userObjNames.address}}</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>{{userObjNames.phone}}</td>
    </tr>
</table>

<br>


<table>
    <thead>
        <th>Account Number</th>
        <th>Account Type</th>
        <th>Balance</th>
    </thead>
    <tbody>

        <tr *ngFor="let item of accountTypesandBalance">
            <td>{{item.accountnumber}}</td>
            <td>{{item.accounttype}}</td>
            <td>{{item.balance}}</td>
          
        </tr>
      
    </tbody>
</table>
</div>
