.button {
    background-color: #ed0722; /* red */
    border: none;
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 16px;
    margin: 4px 10px; /* Padding between buttons */
    cursor: pointer; /* cursor pointer on the buttons*/
    width: 400px;
    
  }


  .button1 {border-radius: 12px;}
  .button2 {border-radius: 12px;;}
  
  .center{
      
      position: absolute;
      top: 35%;
      left: 30%;
      border-style: groove;
      padding: 70px;
      border-radius: 12px;
  }