<div class="center">
<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <!-- <div>
            <label>testMethod</label>
            <input class="form-control" [(ngModel)]="test">
            <button (click)="testMethod()">submitTest</button>
        <div> -->
        <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit()">
            <div class="form-group">
                
                <label for="firstName">First Name</label>
                <input type="text" formControlName="firstName" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" formControlName="lastName" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="lastName">Address</label>
                <input type="text" formControlName="address" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="lastName">Phone</label>
                <input type="number" formControlName="phone" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="lastName">Email</label>
                <input type="email" formControlName="email" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="lastName">SIN Number</label>
                <input type="text" formControlName="sinNumber" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control"/>
            </div>
            <div class="form-group">
                
                <input type="checkbox" formControlName="isAdmin" value="false" [(ngModel)]="isChecked"/>

                <label for="isAdmin">isAdmin</label>
            </div>
            <br>
            <div class="form-group">
                <button class="btn btn-primary">
                    Register
                </button>

                <span *ngIf="showError" style="color: red;">User Already Exist</span>
                <span *ngIf="showError1" style="color: red;">All Fields are mandatory</span>
                <a routerLink="/adminHome" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>
</div>