<div>
    <h1 style = "text-align:center" >User Home Page</h1>
	
	
	<div class="container2">
		<div Class = "center">
				<div class= "button1">	
					<a href="..\New folder\deposit.html" class="anchor"></a>
					<button class="button button1">Deposit</button>
				</div>
				<div class = "button2">
					<a href="..\New folder\withdraw.html" class="anchor"></a>
					<button class="button button2">Withdrawal</button>
				</div>
				<div class = "button3">
					<a href="..\New folder\Transfer_between_accounts.html" class="anchor"></a>
					<button class="button button2">Transfer to Other Account</button>
				</div>
				<div class = "button4">
					<a href="..\New folder\Utility_bills.html" class="anchor"></a>
					<button class="button button2">Pay Utility Bills</button>
				</div>
		</div>
	</div>
</div>
